In [1]:
import pandas as pd

In [41]:
pop = pd.DataFrame({'지역구' : ['중구','서구','동구','영도구','부산진구','동래구',\
                             '남구','북구','해운대구','사하구','금정구','강서구','연제구','수영구','사상구','기장군'], \
                   '유동인구수' : [12.56, 4.36, 7.21, 3.24, 7.09, 5.07, 4.59, 3.93, 5.11, 4.90, 5.63, 11.97, 4.48, 5.18, 6.80, 6.47]})

In [42]:
pop

     지역구  유동인구수
0     중구  12.56
1     서구   4.36
2     동구   7.21
3    영도구   3.24
4   부산진구   7.09
5    동래구   5.07
6     남구   4.59
7     북구   3.93
8   해운대구   5.11
9    사하구   4.90
10   금정구   5.63
11   강서구  11.97
12   연제구   4.48
13   수영구   5.18
14   사상구   6.80
15   기장군   6.47

In [6]:
df_total21 = pd.DataFrame()
for j in range(2017, 2022,1):
    for i in range(1,13,1):
        file_path = './data/부산광역시소방재난본부/부산광역시금일출동정보({}년{}월).csv'.format(j, i)
        df = pd.read_csv(file_path, encoding = 'euc-kr')
        df_total21 = pd.concat([df_total21,df], axis = 0)

In [7]:
df_total = pd.DataFrame()
for i in range(1,7,1):
    file_path = './data/부산광역시소방재난본부/부산광역시금일출동정보(2022년{}월).csv'.format(i)
    df = pd.read_csv(file_path, encoding = 'utf-8')
    df_total = pd.concat([df_total,df], axis = 0)

In [43]:
df_total6 = pd.concat([df_total21,df_total],axis=0)

In [44]:
df_total = df_total6.copy()
df_total

       종별  재난규모              접수시각              재난지점         관할서/관할구역  재난구
0      기타  1차출동  2017-01-02 19:07     부산광역시 수영구 광안동  남부소방서/광안119안전센터  NaN
1      구조  1차출동  2017-01-31 23:53     부산광역시 사상구 괘법동  북부소방서/삼락119안전센터  NaN
2      구급  1차출동  2017-01-31 23:50  부산광역시 기장군 기장읍 교리  기장소방서/기장119안전센터  NaN
3      구급  1차출동  2017-01-31 23:50    부산광역시 해운대구 반송동  금정소방서/반송119안전센터  NaN
4      구급  1차출동  2017-01-31 23:45     부산광역시 영도구 동삼동  항만소방서/동삼119안전센터  NaN
...    ..   ...               ...               ...              ...  ...
12486  구급  1차출동  2022-06-01 00:11     부산광역시 연제구 연산동  동래소방서/양정119안전센터  연제구
12487  구급  1차출동  2022-06-01 00:11      부산광역시 북구 구포동  북부소방서/구포119안전센터   북구
12488  구급  1차출동  2022-06-01 00:09     부산광역시 수영구 남천동  남부소방서/대연119안전센터  수영구
12489  구급  1차출동  2022-06-01 00:06     부산광역시 연제구 거제동  동래소방서/사직119안전센터  연제구
12490  구조  1차출동  2022-06-01 00:05     부산광역시 사하구 하단동  사하소방서/하단119안전센터  사하구

[2148439 rows x 6 columns]

In [45]:
df_list2 = df_total['재난지점'].str.split(' ')
df_total['재난구'] = df_list2.str.get(1)

In [46]:
df_total

       종별  재난규모              접수시각              재난지점         관할서/관할구역   재난구
0      기타  1차출동  2017-01-02 19:07     부산광역시 수영구 광안동  남부소방서/광안119안전센터   수영구
1      구조  1차출동  2017-01-31 23:53     부산광역시 사상구 괘법동  북부소방서/삼락119안전센터   사상구
2      구급  1차출동  2017-01-31 23:50  부산광역시 기장군 기장읍 교리  기장소방서/기장119안전센터   기장군
3      구급  1차출동  2017-01-31 23:50    부산광역시 해운대구 반송동  금정소방서/반송119안전센터  해운대구
4      구급  1차출동  2017-01-31 23:45     부산광역시 영도구 동삼동  항만소방서/동삼119안전센터   영도구
...    ..   ...               ...               ...              ...   ...
12486  구급  1차출동  2022-06-01 00:11     부산광역시 연제구 연산동  동래소방서/양정119안전센터   연제구
12487  구급  1차출동  2022-06-01 00:11      부산광역시 북구 구포동  북부소방서/구포119안전센터    북구
12488  구급  1차출동  2022-06-01 00:09     부산광역시 수영구 남천동  남부소방서/대연119안전센터   수영구
12489  구급  1차출동  2022-06-01 00:06     부산광역시 연제구 거제동  동래소방서/사직119안전센터   연제구
12490  구조  1차출동  2022-06-01 00:05     부산광역시 사하구 하단동  사하소방서/하단119안전센터   사하구

[2148439 rows x 6 columns]

In [47]:
df_gu = df_total.groupby('재난구').count().reset_index()[['재난구','종별']]

In [48]:
df_gu.columns = ['지역구','출동수']

In [49]:
df_gu

     지역구     출동수
0    강서구   92519
1    금정구  145711
2    기장군  116693
3     남구  141891
4     동구   88761
5    동래구  139372
6   부산진구  250759
7     북구  156848
8    사상구  144023
9    사하구  189313
10    서구   76955
11   수영구  108042
12   연제구  121341
13   영도구   89719
14    중구   54799
15  해운대구  231657

In [50]:
mdf = pd.merge(pop,df_gu, left_on='지역구', right_on='지역구', how='left')
mdf

     지역구  유동인구수     출동수
0     중구  12.56   54799
1     서구   4.36   76955
2     동구   7.21   88761
3    영도구   3.24   89719
4   부산진구   7.09  250759
5    동래구   5.07  139372
6     남구   4.59  141891
7     북구   3.93  156848
8   해운대구   5.11  231657
9    사하구   4.90  189313
10   금정구   5.63  145711
11   강서구  11.97   92519
12   연제구   4.48  121341
13   수영구   5.18  108042
14   사상구   6.80  144023
15   기장군   6.47  116693

In [51]:
mdf.corr(method='pearson')

          유동인구수       출동수
유동인구수  1.000000 -0.307436
출동수   -0.307436  1.000000

In [37]:
mdf['인구대비출동수'] = [0.706098 ,0.388126 ,0.528253, 0.428547 ,0.375259, 0.267056 ,0.284674 ,0.292478 ,0.308666 ,0.324628 ,0.33895 \
,0.33723 ,0.30927, 0.324664 ,0.365251, 0.346273]

In [39]:
cdf = mdf[['지역구','유동인구수','인구대비출동수']]
cdf

     지역구    유동인구수   인구대비출동수
0     중구   560000  0.706098
1     서구   480000  0.388126
2     동구   641000  0.528253
3    영도구   400000  0.428547
4   부산진구  2630000  0.375259
5    동래구  1370000  0.267056
6     남구  1260000  0.284674
7     북구  1190000  0.292478
8   해운대구  2110000  0.308666
9    사하구  1630000  0.324628
10   금정구  1380000  0.338950
11   강서구  1410000  0.337230
12   연제구   930000  0.309270
13   수영구   933000  0.324664
14   사상구  1630000  0.365251
15   기장군  1050000  0.346273

In [40]:
cdf.corr(method='pearson')

            유동인구수   인구대비출동수
유동인구수    1.000000 -0.442547
인구대비출동수 -0.442547  1.000000

In [52]:
mdf['유동인구수'].sum()

98.59

In [55]:
a = [mdf['유동인구수'].sum(),mdf['유동인구수'].mean()]
a

[98.59, 6.161875000000001]